body {
  font-size: 100%;
}

button {
  font-size: 1.4rem;
}

.bmcontrol-button-state-up {
  color: rgb(0, 0, 0);
}

.bmcontrol-button-state-down {
  color: rgb(255, 255, 255);
}

.hidden {
  display: none;
  visibility: hidden;
}